__pycache__/
.vscode/
tv7_tele_epg.xml
tv7_tele_epg.xml.gz
tv7_teleboy_epg.xml
tv7_teleboy_epg.xml.gz
tv7_epg.xml
tv7_epg.xml.gz
tv7_teleboy_epg_past.xml
tv7_teleboy_epg_past.xml.gz
tv7_init7_epg.xml
tv7_init7_epg.xml.gz
.env/